<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div th:fragment="banner" class="flex items-center gap-x-6 bg-green-500 px-6 py-2.5 sm:px-1.5 sm:before:flex-1">
        <p class="text-sm leading-6 text-white">
            <a href="/01">
                <strong class="font-semibold" th:text="${title}">DEFAULT MESSAGE</strong>
            </a>
        </p>
        <div class="flex flex-1 justify-end">
            &nbsp;
        </div>
    </div>
</body>

