<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notifications App. | Create Message</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
</head>

<body class="full-center">
    <div id="banner" class="flex items-center gap-x-6 bg-green-600 px-6 py-2.5 sm:px-1.5">
        <div class="flex flex-1 justify-end">&nbsp;</div>
        <p class="text-sm leading-6 text-white">
            <a href="/">
                <strong class="font-semibold">Notifications App.</strong>
            </a>
            &nbsp;|&nbsp;
            <span>Create Message</span>
        </p>
        <div class="flex flex-1 justify-end">&nbsp;</div>
    </div>

    <div id="buttons" class="flex items-center gap-x-6 bg-white-500 px-6 py-2.5 sm:px-1.5">
        <div class="flex flex-1 justify-end">&nbsp;</div>
            <button
                type="button"
                class="rounded-md bg-green-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 m-4"
                style="text-wrap: nowrap;"
                onclick="location.href='/message';">
                Create Message
            </button>
            <button
                    type="button"
                    class="rounded-md bg-green-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 m-4"
                    onclick="location.href='/notifications';">
                Notifications
            </button>
        <div class="flex flex-1 justify-end">&nbsp;</div>
    </div>

    <div id="message-data" class="flex items-center gap-x-6 bg-green-200 px-6 py-2.5 sm:px-1.5 ">
        <div class="flex flex-1 justify-end">&nbsp;</div>

            <form style="width:100%"
                    class="form-message" role="form" th:action="@{/message/create}" th:method="post">

                <div class="row mb-3">
                    <div class="col" style="text-align: center;">
                        <select autofocus class="rounded-md"
                                id="categoryId"
                                name="categoryId" th:required="true" style="padding: 5px;background-color: white;margin:10px;">
                            <option value="">Select a Message Category</option>
                            <option th:each="Item : ${categorySelect}"
                                    th:value="${Item.categoryId}"
                                    th:text="${Item.categoryName}"
                                    th:selected="false"
                            />
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <textarea
                            required
                            id="messageBody"
                            name="messageBody"
                            class="rounded-md"
                            rows="3"
                            style="height: 8em; width:100%;"
                            placeholder="The Message"
                    ></textarea>
                    <div class="col"  style="text-align: center;padding-top: 15px;">
                        <input required id="d-checkbox" name="d-checkbox" type="checkbox">
                        <label for="d-checkbox" class="f-label">Message Reviewed</label>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button
                                type="submit"
                                class="rounded-md bg-green-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 m-4"
                                style="text-wrap: nowrap;">
                            SAVE
                        </button>
                    </div>
                    <div class="fadeout form-floating mb-3 alert alert-danger text-center" role="alert" th:text="${error}">Error</div>
                    <div class="fadeout form-floating mb-3 alert alert-danger text-center" role="alert" th:text="${message}">Message</div>
                </div>
            </form>
        <div class="flex flex-1 justify-end">&nbsp;</div>
    </div>
    <script>
        function fadeOut()
        {
            $(".fadeout").fadeToggle(500, "swing",function(){
                      this.remove();
                    });
        }
        var delay = 3000; //3 seconds
        setTimeout(fadeOut, delay);
    </script>
</body>
</html>